.loginScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 60%;
}

.inputName {
  border-color: black;
  background-color: silver;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: medium;
}

.inputPassword {
  border-color: black;
  background-color: silver;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: medium;
}

.loginButton {
  width: 120px;
  height: 40px;
  background-color: silver;
  border-color: black;
  font-size: medium;
  margin-top: 10px;
}
