.memberListHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: silver;
  border: solid black;
  top: 0;
  left: 0;
  height: 50px;
  position: absolute;
  width: 100vw;
  text-align: center;
  font-size: 40px;
}

.overviewMemberlist {
  display: flex;
  background-color: silver;
  border: solid black;
  min-width: 320px;
  min-height: 300px;
  width: 60vw;
  padding: 0;
  margin: 0;
  font-size: medium;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
  border: solid black;
  margin-bottom: 5px;
  min-height: 50px;
  font-size: 25px;
}

.buttonAddMember {
  font-size: 80%;
  border: solid black;
}

.buttonEditMember {
  font-size: 80%;
  border: solid black;
}

.buttonDeleteMember {
  font-size: 80%;
  border: solid black;
}
